<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
    <title>Add Book</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Add Book</h1>
  <form th:action="@{/books/add}" th:object="${book}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="title">Id:</label>
      <input class="form-control" type="text" th:field="*{id}" id="id">
    </div>
    <div class="col-6 mb-3">
      <label class="form-lable" for="title">Title</label>
      <input class="form-control" type="text" th:field="*{title}" id="title">

    </div>

    <div class="col-6 mb-3">
        <label class="form-lable" for="author">Author</label>
        <input class="form-control" type="text" th:field="*{author}" id="author">

    </div>
    <div class="col-6 mb-3">
          <label class="form-lable" for="price">Price</label>
          <input class="form-control" type="text" th:field="*{price}" id="price">
    </div>
    <div class="col-6 mb-3">
      <label class="form-lable" for="category">Category</label>
      <input class="form-control" type="text" th:field="*{price}" id="category">
    </div>
    <input type="submit"class="btn btn-primary" value="Save">

  </form>
  <br>
  <a th:href="@{/books}">Back to List</a>
</div>
  <th:block th:replace="layout :: footer"></th:block>
</body>
</html>